page-home {

}

#searchbar {
    width: 90%;
    margin: auto;
}
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 8%;
      background: blue;
    }

    ion-card-header{

      color: #fff;
    }
  
    .card-title {
      position: absolute;
      top: 25%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
.joinNow{
  float: right;
  padding-right: 5%;
}

.joinMsg{
  float: left;
  padding-left: 5%;
  color: #fff;
  text-align: left;
  align: center;
}