.home{
  background-color: #e9e9e9;
}

#searchbar {
    width: 90%;
    margin: auto;
}

.joinNow{
  float: right;
  padding-right: 5%;
}

.joinMsg{
  float: left;
  padding-left: 5%;
  color: #fff;
  text-align: left;
  align: center;
}

ion-card {
  position: relative;
  text-align: center;
  min-height: auto;
  background-size: cover;
  
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 1.5em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-back{
  //opacity: 0.5;
  background-size: cover;
  filter: brightness(50%);

}
