page-welcome {

}

img{
    padding-top: 10%;
    height: 30%;
    width: auto;
    margin: auto;
    display: block;
  }

button.customBtn{
    padding: 5%;
    width: 50%;
    margin: auto;
}

#loginBtns{
    padding-top: 5%;
}

#noAccountMessage{
    padding-top: 10%;
    width: 50%;
    margin: auto;
    font-size: 12pt;
    text-align: center;
}

#shaqtech{
    padding-top: 10%;
    height: 30%;
    width: auto;
    margin: auto;
    display: block;
}